
/* stylesheet for online subs page
 */
 
body {  
/* text-align:center; */
margin: 0px; background: #E8E8E8;
} 

#container {
width: 660px; padding: 1em;
margin-top: 60px; margin-bottom: 12px; 
margin-left: auto; margin-right: auto; 
border: 1px solid #000; background-color: #CCC;
}


#footer {
width: 660px; 
font: 10px verdana, sans-serif;
margin-top: 0px; padding-bottom: 12px; 
margin-left: auto; margin-right: auto; 
border: 0px solid #444; color: #666;
text-align: center;
}

